.main-banner{
    width: 100%; 
    height: 751.572px;
    flex-shrink: 0;
    background-image: url("./../../../assets/Banner.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}